/**
 * Colors: http://www.colorhexa.com/b96628
 *   Blue: #287bb9
 *   Brown: #b96628
 *   Magenta: #b9287b
 *   Green: #28b966
 *
 * Also using #fefefe as white, #333333 as black.
 *
 * Fonts:
 *   Drupalcamp: DIN Regular Bold
 *   Fox Valley: DIN Condensed Web
 */
body {
    background-color: #287bb9;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: DIN Condensed Web, Abel;
    font-weight: bold;
}

#site-name {
    margin-top: 0.67em;
    text-align: center;
}

#site-name img {
    max-height: 150px;
}

button, .button {
    background-color: #287bb9;
}

.outer:not(#footer) {
    background-color: #fefefe;
}

ul#date-location {
    font-size: 1.1em;
    font-weight: bold;
    list-style-type: none;
    margin: 1.25rem 0;
    text-align: center;
}

#primary-nav {
    display: table;
}

.primary-nav {
    background-color: #287bb9;
    display: table-row;
    width: 100%;
}

.primary-nav li {
    display: table-cell;
    text-align: center;
}

.primary-nav li:not(.nav-expand-action) {
    display: none;
}

.primary-nav li.nav-expand-action li {
    display: block;
}

.primary-nav a {
    color: #fefefe;
    display: inline-block;
    font-weight: bold;
    padding: 1rem 2rem;
    width: 100%;
    -webkit-transition: background-color ease-out 300ms;
    -moz-transition: background-color ease-out .300ms;
    -o-transition: background-color ease-out 300ms;
    transition: background-color ease-out 300ms;
}

.primary-nav > li+li {
    border-left: 1px solid #fefefe;
}

#content {
    padding: 1rem 0;
}

#footer {
    background-color: #287bb9;
    border-top: 4px solid #b96628;
    color: #fefefe;
    padding: 1rem 0;
}

#footer .columns {
    text-align: center;
}

#footer a {
    color: #28b966;
}

/* "Medium" screens */
@media only screen and (min-width: 40.063em) {
    ul#date-location li {
        display: inline;
    }
    ul#date-location li+li:before {
        content: ' • ';
    }
    #primary-nav li:not(.nav-expand-action) {
        display: table-cell;
    }
    #primary-nav li.nav-expand-action {
        display: none;
    }
    .primary-nav a:hover {
        background-color: #28b966;
    }
    #footer .columns {
        text-align: left;
    }
}

/* "Large" screens */
@media only screen and (min-width: 64.063em) {
    h1 {
        text-align: left;
    }
    ul#date-location li {
        display: block;
    }
    ul#date-location li+li:before {
        content: '';
    }
}

/* Drop nav */
ul.nav-expand-container {
    position: relative;
}

ul.nav-expand-container li:not(.nav-expand-action) {
    display: none;
}

ul.nav-expand-container ul.nav-expand-content {
    background-color: #333333;
    color: #fefefe;
    display: block;
    width: 100%;
}

ul.nav-expand-container ul.nav-expand-content {
    margin: 0;
    padding: 0;
}

ul.nav-expand-container ul.nav-expand-content li {
    display: block;
    float: none;
}

ul.nav-expand-container ul.nav-expand-content li:hover {
    background-color: #28b966;
}

ul.nav-expand-container ul.nav-expand-content li a {
    color: #fefefe;
    display: block;
    padding: .5rem;
}
